:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#info {
    margin: 0 auto;
    width: fit-content;
}

#machine {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#input {
    font-size: large;
    width: 100%;
    resize: none;
}

#run, #step {
    margin: 0 auto;
}

#input_display {
    font-family: 'Courier New', Courier, monospace;
    border: 1px black solid;
    font-weight: bold;
}

#type-machine label {
    font-weight: bold;
}

#type-machine fieldset {
    border: none;
}

#type-machine {
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#code-input {
    resize: none;
    width: 700px;
    height: 300px;
    background-color: beige;
}

#upload-area {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#open-file {
    width: 100px;
}

